
.colorPallets{
  width: 200px;
  height: 40px;
  display: flex;
  margin: 0px -15px 0px 0px;
  padding: 3px;
}
.color-box{
  border: 2px solid rgb(204, 204, 204);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin: 2px;
  transition: tranform 0.2s ease-in-out;
}  
.color-box:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.black{
  border: 2px solid rgb(66, 66, 66);
   background-color: black;
}
.blue{
  border: 2px solid rgb(84, 92, 158);
  background-color: rgb(1, 11, 97);
}
.red{
  border: 2px solid rgb(176, 128, 128);
  background-color: rgb(98, 0, 0);
}
.green{
  border: 2px solid rgb(118, 170, 130);
  background-color: rgb(2, 105, 26);
}
.white{
  border: 2px solid rgb(161, 161, 161);
  background-color: white;
}
